body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-bottom: 4px;
    border: 2px solid #5f9341;
}

button {
    width: 200px;
    height: 50px;
    margin-top: 4px;
    background: #5f9341;
    border: 1px solid #5f9341;
    color: white;
    font-size: larger;
    font-weight: bold;
}

#delete-btn {
    background: white;
    color: #5f9341;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 5px ;
}

li {
    margin: 5px;
}

a {
    color: #5f9341
}

